#instafeed {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @include bp($mobilel){
        padding: 20px;
    }
    .photo-all {
        margin: 0.5%;
        position: relative;
        border-bottom: 1px solid #c1c1c1;
        padding-bottom: 32px;
        display: inline-block;
        width: 14.4444%;
        @include bp($larger) {
            width: 18%;
        }
        @include bp($large) {
            width: 23%;
        }
        @include bp($desktop) {
            width: 31%;
        }
        @include bp($tablet) {
            width: 46%;
             margin-bottom: 20px;
        }
        @include bp($mobilel) {
            width: 100%;
            margin-bottom: 30px;
       
       
        }
        .bgimg {
            padding-bottom: 100%;
            border-radius: 10px;
        }
 
        .instalogo {
            margin: 0px 0px 0px 3%;
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
        .instalogo {
            img {
                width: 28px;
                margin-right: 5px;
                float: left;
                margin-bottom: 7px;
                border-radius: 50%;
            }
            a span {
                font: 12px/32px 'Open Sans', sans-serif;
                color: #000;
                overflow: hidden;
            }
        }
        .photo-caption {
            margin-top: -5px;
            overflow: hidden;
            margin-top: 10px;
            width: 80%;
            padding-left: 15px;
            font: 14px/19px 'Open Sans', sans-serif;
        }
        .photo-location {
            float: left;
            width: 82%;
            height: 30px;
            overflow: hidden;
            a {
                font-size: 11px;
                line-height: 30px;
                color: #333;
                font-weight: normal;
            }
        }
        .photo-likes {
  
       width: 38px;
   
            height: 30px;
 
            background: url("images/heart.png") no-repeat scroll left center transparent;
            position: absolute;
            bottom: 0px;
            right: 0px;
            a {
                font-size: 11px;
                line-height: 30px;
                color: #555;
                font-weight: normal;
                padding-left: 24px;
            }
        }
    }
}


// Shadowbox CSS
#sb-title-inner,
#sb-info-inner,
#sb-loading-inner,
div.sb-message {
    color: #fff;
}
#sb-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 999;
    text-align: left;
    visibility: hidden;
    display: none;
}
#sb-overlay {
    position: relative;
    height: 100%;
    width: 100%;
}
#sb-wrapper {
    position: absolute;
    visibility: hidden;
    width: 100px;
}
#sb-wrapper-inner {
    position: relative;
    border: 1px solid #303030;
    overflow: hidden;
    height: 100px;
}
#sb-body {
    position: relative;
    height: 100%;
}
#sb-body-inner {
    position: absolute;
    height: 100%;
    width: 100%;
}
#sb-player.html {
    height: 100%;
    overflow: auto;
}
#sb-body img {
    border: none;
}
#sb-loading {
    position: relative;
    height: 100%;
}
#sb-loading-inner {
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    width: 100%;
    text-align: center;
}
#sb-loading-inner span {
    background: url(images/loading.gif) no-repeat;
    padding-left: 34px;
    display: inline-block;
}
#sb-body,
#sb-loading {
    background-color: #060606;
}
#sb-title,
#sb-info {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#sb-title,
#sb-title-inner {
    max-height: 182px;
    line-height: 26px;
}
#sb-title-inner span {
    float: right;
    display: inline-block;
}
#sb-title-inner {
    font-size: 16px;
}
#sb-info,
#sb-info-inner {
    height: 20px;
    line-height: 20px;
}
#sb-info-inner {
    font-size: 12px;
}
#sb-nav {
    float: right;
    height: 16px;
    padding: 2px 0;
    width: 45%;
}
#sb-nav a {
    display: block;
    float: right;
    height: 16px;
    width: 16px;
    margin-left: 3px;
    cursor: pointer;
    background-repeat: no-repeat;
}
#sb-nav-close {
    background-image: url(images/close.png);
}
#sb-nav-next {
    background-image: url(images/next.png);
}
#sb-nav-previous {
    background-image: url(images/previous.png);
}
#sb-nav-play {
    background-image: url(images/play.png);
}
#sb-nav-pause {
    background-image: url(images/pause.png);
}
#sb-counter {
    float: left;
    width: 45%;
}
#sb-counter a {
    padding: 0 4px 0 0;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
#sb-counter a.sb-counter-current {
    text-decoration: underline;
}
div.sb-message {
    font-size: 12px;
    padding: 10px;
    text-align: center;
}
div.sb-message a:link,
div.sb-message a:visited {
    color: #fff;
    text-decoration: underline;
}
