#instafeed {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @include bp($mobilel){
        padding: 20px;
    }
    .photo-all {
        margin: 0.5%;
        position: relative;
        border-bottom: 1px solid #c1c1c1;
        padding-bottom: 32px;
        display: inline-block;
        width: 14.4444%;
        @include bp($larger) {
            width: 18%;
        }
        @include bp($large) {
            width: 23%;
        }
        @include bp($desktop) {
            width: 31%;
        }
        @include bp($tablet) {
            width: 46%;
             margin-bottom: 20px;
        }
        @include bp($mobilel) {
            width: 100%;
            margin-bottom: 30px;
       
       
        }
        .bgimg {
            padding-bottom: 100%;
            border-radius: 10px;
        }
 
        .instalogo {
            margin: 0px 0px 0px 3%;
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
        .instalogo {
            img {
                width: 28px;
                margin-right: 5px;
                float: left;
                margin-bottom: 7px;
                border-radius: 50%;
            }
            a span {
                font: 12px/32px 'Open Sans', sans-serif;
                color: #000;
                overflow: hidden;
            }
        }
        .photo-caption {
            margin-top: -5px;
            overflow: hidden;
            margin-top: 10px;
            width: 80%;
            padding-left: 15px;
            font: 14px/19px 'Open Sans', sans-serif;
        }
        .photo-location {
            float: left;
            width: 82%;
            height: 30px;
            overflow: hidden;
            a {
                font-size: 11px;
                line-height: 30px;
                color: #333;
                font-weight: normal;
            }
        }
        .photo-likes {
  
       width: 38px;
   
            height: 30px;
 
            background: url("images/heart.png") no-repeat scroll left center transparent;
            position: absolute;
            bottom: 0px;
            right: 0px;
            a {
                font-size: 11px;
                line-height: 30px;
                color: #555;
                font-weight: normal;
                padding-left: 24px;
            }
        }
    }
}
